# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env
.npm
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local Database (Optional: If you want to keep data private/local only)
# server/db.json
# For now, we will track db.json so you have example data, but usually it is ignored.
